@use"../variable/" as *;
@use"../function/mixin" as *;


%flex-center{
    display: flex;
    align-items: center;
}

%multi-line{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
}
%btn-main {
    display: inline-block;
    background-color: $light;
    padding: map-get($interval, btn-xy);
    margin: map-get($interval, btn-y);

    font-size: map-get($font-size, s);
    font-weight: map-get($font-weight, bold);
    color: $deep;
    border-radius: $border-infinity;
    @include bordered(3px, $alpha);
    transition: $base-speed;

    &:hover {
        color: $light;
        background-color: $deep;
        @include bordered(3px, $light);
    };
}