@mixin base-img {
    display: block;
    width: 100%;
    max-width: 100%;
}

@mixin bordered ($width , $color) {
    border: $width solid $color;
}

@mixin animation ($name , $delay) {
    animation: $name 12s $delay ease-in-out both infinite;
}