//圖片數列

//寬度
$main-w: 80%;

$interval: (// map-get($interval , )
menu: 0 10px,
btn-xy: 10px 20px,
btn-y:30px 0,
);

// 圓角
$border-infinity: 99px;
//transition
$base-speed: .4s ease-in-out;